---
import Layout from "../layouts/Layout.astro";
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<Layout title="Appearance and Customization">
    <header>
        <div class="container nav-wrapper">
            <a href={baseUrl} class="logo" style="font-family: 'Orbitron';"
                >[ Back to Home ]</a
            >
            <nav>
                <a href={import.meta.env.BASE_URL.replace(/\/$/, "") + "/About"}
                    >About</a
                >
                <div id="headerfeature">
                    <button id="feature_pulldown">Features</button>
                    <div id="feature_menu" class="hidden">
                        <a
                            href={import.meta.env.BASE_URL.replace(/\/$/, "") +
                                "/immersive"}
                            class="feature_item">没入感と縦書き</a
                        >
                        <a
                            href={import.meta.env.BASE_URL.replace(/\/$/, "") +
                                "/AI"}
                            class="feature_item">多彩なAI機能</a
                        >
                        <a
                            href={import.meta.env.BASE_URL.replace(/\/$/, "") +
                                "/Customize"}
                            class="feature_item">自由な画面デザイン</a
                        >
                        <a
                            href={import.meta.env.BASE_URL.replace(/\/$/, "") +
                                "/Markdown"}
                            class="feature_item">マークダウン・HTML編集</a
                        >
                    </div>
                </div>
                <a
                    href="https://github.com/DroicheadNua/MirrorShard_2/releases/latest"
                    >Download</a
                >
                <a
                    href="https://github.com/DroicheadNua/MirrorShard_2/tree/main/docs"
                    >Docs</a
                >
                <a href={`${baseUrl}/Blog/`}>Blog</a>
            </nav>
        </div>
    </header>

    <main>
        <h1>Appearance and Customization</h1>
        <div class="piller-wrapper">
            <div class="left-piller">
                <div class="card">
                    <h3>Appearance Customization</h3>
                    <p>
                        エディタの配置や配色、背景画像などを自在にカスタマイズ可能。
                    </p>
                    <p>
                        テキストエリアの透明度を上げれば、背景画像もより一層活かしやすくなります。
                    </p>
                    <img src={`${baseUrl}/img/ScreenShot02.jpg`} alt="sc02" />
                </div>
                <div class="card">
                    <h3>Snow Effect</h3>
                    <p>Ctrl+Shift+Eで、画面に雪を降らせることができます。</p>
                    <img src={`${baseUrl}/img/custom02.jpg`} alt="c02" />
                </div>
            </div>
            <div class="right-piller">
                <div class="card">
                    <h3>Theme Presets</h3>
                    <p>お好みの配色を、プリセットとして保存できます。</p>
                    <img src={`${baseUrl}/img/custom01.jpg`} alt="c01" />
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        background: #050505;
        color: #eee;
    }

    h1 {
        font-family: "Orbitron";
        text-align: center;
        font-size: 3.5rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;
        text-shadow: 0 0 20px rgba(0, 255, 65, 0.3);
        -webkit-text-stroke: 2px green;
    }
    p {
        color: #eee;
        text-align: start;
        font-family: "M PLUS 1p";
    }
</style>

<script>
    const featurepulldown = document.querySelector("header #feature_pulldown")!;
    const featuremenu = document.querySelector("header #feature_menu")!;
    featurepulldown.addEventListener("click", (e) => {
        e.stopPropagation();
        featuremenu.classList.toggle("hidden");
    });

    window.addEventListener("click", () => {
        if (!featuremenu.classList.contains("hidden")) {
            featuremenu.classList.add("hidden");
        }
    });
</script>
