---
import Layout from '../layouts/Layout.astro';
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');
---
<Layout title="Coding Tools">

    <header>
        <div class="container nav-wrapper">
            <a href={baseUrl} class="logo" style="font-family: 'Orbitron';">[ Back to Home ]</Back></a>
            <nav>
                <a href={import.meta.env.BASE_URL.replace(/\/$/, '') + "/About"}>About</a>
                <div id=headerfeature>
                    <button id="feature_pulldown">Features</button>
                    <div id="feature_menu" class="hidden">
                        <a href={import.meta.env.BASE_URL.replace(/\/$/, '') + "/immersive"} class="feature_item">没入感と縦書き</a>
                        <a href={import.meta.env.BASE_URL.replace(/\/$/, '') + "/AI"} class="feature_item">多彩なAI機能</a>
                        <a href={import.meta.env.BASE_URL.replace(/\/$/, '') + "/Customize"} class="feature_item">自由な画面デザイン</a>
                        <a href={import.meta.env.BASE_URL.replace(/\/$/, '') + "/Markdown"} class="feature_item">マークダウン・HTML編集</a>
                    </div>
                </div>
                <a href="https://github.com/DroicheadNua/MirrorShard_2/releases/latest">Download</a>
                <a href={`${baseUrl}/docs/`}>Docs</a>
                <a href={`${baseUrl}/Blog/`}>Blog</a>
            </nav>
        </div>
    </header>

    <main>
        <h1>Coding Tools</h1>
        <div class="piller-wrapper">
            <div class="left-piller">
                <div class="card">
                    <h3>Markdown/HTML Preview</h3>
                    <p>ボタン一つでマークダウン／HTMLモードが切り替え可能なプレビューウィンドウを実装。マークダウンエディタ・HTMLエディタとしても運用可能に。</p>
                    <img src={`${baseUrl}/img/md01.jpg`} alt="md01" />
                </div>
                <div class="card">
                    <h3>Built-in terminal</h3>
                    <p>Ctrl+@でターミナルを開く機能を搭載。OS標準のターミナルの他、Git Bashなど任意のターミナルを運用可能。</p>
                    <img src={`${baseUrl}/img/md03.jpg`} alt="md03" />
                </div>
            </div>
            <div class="right-piller">
                <div class="card">
                    <h3>Code Editor Mode</h3>
                    <p>Ctrl+K一発で、文書執筆用のエディタがコードエディタモードに早変わり。</p>
                    <p>行番号表示やシンタックスハイライトのほか、簡易フォーマッタやAIによるコード補完機能も実装。</p>
                    <img src={`${baseUrl}/img/md02.jpg`} alt="md02" />
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main{
        background: #050505;
        color: #eee;
    }

    h1 {
        font-family: 'Orbitron';
        text-align: center;
        font-size: 3.5rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;
        text-shadow: 0 0 20px rgba(0, 255, 65, 0.3);
        -webkit-text-stroke: 2px green;
    }

    p {
        color: #eee;
        text-align: start;
        font-family: "M PLUS 1p";
    }
</style>

<script>
    const featurepulldown = document.querySelector('header #feature_pulldown')!;
    const featuremenu = document.querySelector('header #feature_menu')!;
    featurepulldown.addEventListener('click', (e) => {
        e.stopPropagation();
        featuremenu.classList.toggle('hidden');
    });

    window.addEventListener('click', () => {
        if (!featuremenu.classList.contains('hidden')) {
            featuremenu.classList.add('hidden');
        }
    });
</script>